<%- include('includes/header') %>

<%- include('includes/alert') %>

  <div class='header'>
    <a href="/logout" class='logout-icon'><i class="fa fa-sign-out" aria-hidden="true"></i></a>
    <a href="/logout" class='logout-link'>Logout</a>
    <h1 class='header__title'>TaskApp</h1>
    <div class='form-container'>
      <form action="/add-task" method="POST" class='form'>
        <div class='task-form-field-container'>
          <input type="text" name='task' class='task-input' placeholder='Enter your task here...' autofocus autocomplete="off">
          <button type="submit" class='submit-btn'>Add Task</button>
        </div>
      </form>
    </div>
  </div>
  <div class='tasks-container'>
    <ul class='task-list'>
      <% if (tasks.length) { %>
        <form action="/delete-tasks" method="POST" class="delete-all-form">
          <button class="delete-all-btn" type="submit">Delete All Tasks</button>
        </form>
      <% tasks.forEach(task => { %>
        <li class='task'>
          <div class='link-container'>
            <a class='check-link' href="/delete/<%- task._id %>"><i class="fa check-btn fa-check" data-id="<%- task._id %>" aria-hidden="true"></i></a>
          </div>
          <div class='task-item'>
            <span class='task-text'><%= task.task %></span>
          </div>
          <div class='btn-container'>
            <a href="/edit/<%- task._id %>" data-id="<%- task._id %>" class='edit-btn btn'>Edit</a>
            <a href="/delete/<%- task._id %>" data-id="<%- task._id %>" class='delete-btn btn'>Delete</a>
          </div>
        </li>
      <% }) 
      } else { %>
        <li class='task empty-task empty-task--visible'>
          <h3 class='empty-task-title'>You do not have any tasks.</h3>
        </li>
      <%}%>
    </ul>
  </div>
  <div class='modal edit-modal'>
    <div class='modal__exit-btn'><i class="fa fa-times" aria-hidden="true"></i></div>
    <div class='modal__container'>
      <h3 class='modal__title'>Edit Your Task</h3>
      <textarea maxlength="100" class='modal__text'>This is where the task is going to be.</textarea>
      <button class='modal__button modal__update-btn'>Update Task</button>
      <button class='modal__cancel-btn'>Cancel</button>
    </div>
  </div>
  <div class='modal delete-modal'>
    <div class='modal__exit-btn'><i class="fa fa-times" aria-hidden="true"></i></div>
    <div class='modal__container'>
      <h3 class='modal__title modal__title--small'>Are you sure you want to delete this task?</h3>
      <textarea maxlength="100" class='modal__text modal__text--no-edit' readonly>This is where the task is going to be.</textarea>
      <button class='modal__button modal__button--delete'>Yes, Delete!</button>
      <button class='modal__button modal__button--cancel'>Cancel</button>
    </div>
  </div>
  <div class='modal delete-all-modal'>
    <div class='modal__exit-btn'><i class="fa fa-times" aria-hidden="true"></i></div>
    <div class='modal__container'>
      <h3 class='modal__title modal__title--small'>Are you sure you want to delete all tasks?</h3>
      <button class='modal__button modal__button--delete-all'>Yes, Delete!</button>
      <button class='modal__button modal__button--cancel'>Cancel</button>
    </div>
  </div>
  <%- include('includes/footer') %>